<select multiple class="organizerList" id="exampleFormControlSelect2">
  <option>Target1</option>
  <option>Target2</option>
  <option>Target3</option>
  <option>Target1</option>
  <option>Target2</option>
  <option>Target3</option>
  <option>Target1</option>
  <option>Target2</option>
  <option>Target3</option>
  <option>Target1</option>
  <option>Target2</option>
  <option>Target3</option>
  <option>Target1</option>
  <option>Target2</option>
  <option>Target3</option>
  <option>Target1</option>
  <option>Target2</option>
  <option>Target3</option>
  <option>Target1</option>
  <option>Target2</option>
  <option>Target3</option>
</select>