
  .workingArea {
    cursor:crosshair;
    background:
      url(/assets/testData/F16_Landmark.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    //background-position: center;
    width: 700px;
    height: 700px;
  }
