
:host {
   box-sizing: border-box;
   .navbar {
    z-index: 0 !important;
    height: 45px;
   // width: 100vw;
    margin-bottom: 5px;
   }
   .menu-bar {
    z-index: 2;
    display: flex;
    flex-direction: column;
     ::ng-deep .ui-menubar {
        z-index: 200;  
        height: 45px;
     }
     ::ng-deep .ui-menu-list {
        z-index: 500 !important;    
     }
   }
   $editorHeight : 88vh;
   .editor-area {
    height: $editorHeight;
    display: flex;
    flex-direction: row;
        .left {
            height: $editorHeight;
            display: flex;
            flex-direction: column;
            width: 18vw;
            .organizer{
                height: 70vh;
                overflow: scroll;
                }
            .navigator {
                bottom: 0px;
            }
        } 
        .working-area {
            width: 40vw;
        }
        .details {
            width: 42vw;
            ::ng-deep .ui-tabview-panels {
                height: $editorHeight - 4.5vh;  //tabs height 
                width: 41.5vw;
                display: flex;
                flex-direction: row;              
                .row {                   
                    //align-items: left;
                    margin-top:10px;
                    margin-left: 10px;
                    display: flex;
                    flex-direction: row; 
                    .label {                     
                        margin-left: 10px;
                        min-width: 10vw;
                    }
                    input {
                        width: 20vw;
                    }
                    textarea {
                        width: 20vw;
                    }
                }
            }       
        }
   }
}