
:host {
   box-sizing: border-box;
   height: 100vh;
   .menu-bar {
     ::ng-deep .ui-menubar {
        height: 6vh;
     }
     ::ng-deep .ui-menu-list {
        z-index: 200;       
     }
     

   }
   .editor-area {
    display: flex;
    flex-direction: row;
        .left {
            display: flex;
            flex-direction: column;
            width: 18vw;
            .organizer{
                height: 64vh;
                overflow: scroll;
                }
            .navigator {
                height: auto;
                bottom: 0px;
            }
        } 
        .working-area {
            width: 40vw;
            height: 86.5vh;
        }
        .details {
            width: 42vw;
            ::ng-deep .ui-tabview-panels {
                height: 81.5vh;    
                width: 100vw;
                display: flex;
                flex-direction: row; 
                
                .row {                   
                    //align-items: left;
                    width: 100%;
                    margin-top:10px;
                    .label {                     
                        margin-left: 10px;
                        min-width: 150px;
                    }
                    input {
                        width: 65%
                    }
                    textarea {
                        width: 65%;
                    }
                }
            }       
        }
   }
}