<div class="menu-bar">
  <app-menu [menuProps] = "menuProps"></app-menu>
</div>
<div class="navbar">
  <app-dashboard></app-dashboard>
</div>
<div class="left">
    <div class="organizer">
            <app-organizer [props] = "organizerProps" [contextMenuProps] = "contextMenuProps"></app-organizer>
    </div>
    <div class="navigator">
        <app-navigation-pane></app-navigation-pane>
    </div>
</div>
<div class="working-area">
    <ng-content select = "lib-working-area"></ng-content>
</div>
<div class="details">
    <app-details>
       <ng-content></ng-content>
    </app-details>
</div>














