
:host {
   box-sizing: border-box;
   height: 100vh;
   .left {
        float: left;
        width: 20%;
        .organizer{
            clear: both;
            height: 62.5vh;
            overflow: scroll;
            }
        .navigator {
            height: 30vh;
            bottom: 0px;
            clear: both;
        }
    } 
    .working-area {
        float: left;
        width: 40%;
    }
    .details {
        float: right;
        width: 40%;
        ::ng-deep .ui-tabview-panels {
            height: 87.4vh;
        } 
    }

}